{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Badges
{% endblock %}
{% block content %}
    <div class="container">

    <h2 class="h2 text-primary">Badges en ta possession</h2>
        <div class="row">
            {% for badge in badgesData %}
            <div class="card col-12 col-md-4 col-lg-2" style="width: 18rem;">
                <img src="/assets/images/badges/{{ badge.image }}" class="card-img-top" alt="{{badge.name}}" >
                <div class="card-body">
                    <h5 class="card-title">{{badge.name}}</h5>
                    <p class="card-text">{{ badge.description }}</p>
                </div>
            </div>
            {% else  %}
                <p>Pas de Badge</p>
            {% endfor %}
        </div>


    <h2 class="h2 text-primary">Badges à avoir </h2> <small>Disponibles à partir du 06/05/2021 </small>
        <div class="row">
            {% for badge in badgesLeftData %}
                <div class="card col-12 col-md-4 col-lg-2" style="width: 18rem;">
                    <img src="/assets/images/badges/{{ badge.image }}" class="card-img-top cloudy" alt="{{badge.name}}" >
                    <div class="card-body">
                        <h5 class="card-title">{{badge.name}}</h5>
                        <p class="card-text">{{ badge.description }}</p>
                    </div>
                </div>
                {% else %}
                <p>Tu as tout gagné Bravo</p>
            {% endfor %}
        </div>
    <div class="row justify-content-center">
        <table class="table w-75" >
            <thead>
                <tr class="bg-primary text-secondary">
                    <td> Département</td>
                    <td>Meilleur Score</td>
                </tr>
            </thead>
           <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.title }}</td>
                    <td>{{ score.best_score }}</td>
                </tr>
            {% endfor %}
           </tbody>
        </table>
</div>
</div>


{% endblock %}
