{# TODO : manage errors display #}

<form method="post">
    <input type="hidden" value="{{ user.id }}" name="id">
    <input type="text" value="{{ user.pseudo }}" name="pseudo">
    <input type="text" value="{{ user.password }}" name="password">
    <input type="number" value="{{ user.avatar_id }}" name="avatar_id">
    <input type="number" value="{{ user.count_game }}" name="count_game">
    <input type="text" value="{{ user.created_at }}" name="created_at">
    <input type="text" value="{{ user.updated_at }}" name="updated_at">
    <input type="submit" value="Valider">
</form>
