{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h2 class="mt-5 text-primary">Contrôle utilisateur</h2>

        <form action="" method="POST" class="form-group">
        <div class="form-group">
            <label  for="pseudo">Pseudo recherché: </label>
            <input  name="pseudo" id="name" type="text">
            <button class="btn btn-primary">Rechercher </button>
        </div>
        </form>
        {%  for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Liste des pseudos
            </a>
        </p>
        <div class="collapse w-25" id="collapseExample">
            <div class="card card-body">
                {% for name in names %}
                <a class="text-primary " href="/admin/show/{{ name }}">{{ name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-primary mt-5">Gestion des badges</h2>

        <div class="row">
            {% for id, badge in badges%}
                <div  class="card col-6 col-md-3" style="width: 18rem;">
                    <img src="/assets/images/badges/{{ badge.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if badge.total %}
                            Distribué {{ badge.total }} fois
                            {% else %}
                                Pas distribué {% set deletable = 1 %}
                            {% endif %}
                            </h5>
                        <p class="card-text">
                        {% for user in badge.givenTo %}
                            {% if loop.last %}
                                <span class="text-primary">et</span> <a class="text-primary" href="/admin/show/{{ user }}">{{ user }}</a><span class="text-primary">.</span>
                            {% else %}
                                <a class="text-primary" href="/admin/show/{{ user }}">{{ user }}</a><span class="text-primary">,</span>
                            {% endif %}

                        {% endfor %}
                        </p>
                        {% if deletable %}
                        <a href="/admin/deleteBadgeById/{{ id }}" class="btn btn-primary">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
                <div  class="card col 1 col-md-3" style="width: 18rem;">
                    <i id="addBadgeButton" class="fas-card fas-tab ml-2 fas fa-plus clickable"data-toggle="modal" data-target="#badgesModal"></i>
                    <div class="card-body">
                        <h5 class="card-title">Ajouter</h5>
                        <p class="card-text">
                            <form id="uploadForm" class="d-none" method="post"  action="/admin/upload" enctype="multipart/form-data">
                                <label for="imageUpload">Télécharger un badge au format png</label>
                                <input type="file" name="image" id="imageUpload" />
                                {% for anomaly in anomalies %}
                                    <p class="alert-danger">{{ anomaly}}</p>
                                {% endfor %}
                                <button name="send">Télécharger</button>
                            </form>
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-primary mt-5">Statistiques</h2>
        <div class="row">
        <div class="card col-3" style="width: 18rem;">
            <img src="/assets/images/statGraph.png" class="card-img-top" alt="image">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Connexions</h5>
                <p class="card-text">Nombres de parties, Nombre de connexions, Nombre de nouvelles adhésions par jour dans un graph</p>
                <a href="/admin/graph" class="btn btn-primary">Go!</a>
            </div>
        </div>
        <div class="card col-3" style="width: 18rem;">
            <img src="/assets/images/statGraph.png" class="card-img-top" alt="image">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Connexions</h5>
                <p class="card-text">Suspicion de triche? Départements trop facile? Analysez les données </p>
                <a href="admin/tab" class="btn btn-primary">Go!</a>
            </div>
        </div>
    </div>


    </div>
{% endblock  %}