{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Quizz
{% endblock %}
{% block content %}
    <div class="col-sm-12 row justify-content-between align-items-center">
        <div class="numquestion rounded-circle bg-primary text-light m-2 p-2 text-center" style="width:50px; height:50px">
            <h2 class="m-auto">{{ session.game.numQuestion }}</h2>
        </div>
        <div>
            <h4 class="text-primary">Marge d'erreur :<br> + ou - {{ session.game.currentErrorMargin }} ans</h4>
        </div>
        <div class="totalpoints text-primary text-right">
            <h2>Total<br> {{ session.game.currentScore}}</h2>
        </div>
    </div>
    <div class="container mt-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            {% if additionalImages is not empty %}
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    {% if additionalImages is not empty %}
                        {% for img in additionalImages %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"></li>
                        {% endfor %}
                    {%  endif %}
                </ol>
            {%  endif %}
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ pickedObject.primaryImageSmall }}" class="d-block img-car img-fluid m-auto shadow p-1  bg-primary rounded"  alt="...">
                </div>

                {% if pickedObject.additionalImages is not empty %}
                    {% for img in pickedObject.additionalImages %}
                        <div class="carousel-item">
                            <img src="{{ img }}" class="d-block img-car img-fluid m-auto shadow p-2  bg-primary rounded"  alt="...">
                        </div>
                    {% endfor %}
                {%  endif %}
            </div>
        </div>
        {% if pickedObject.additionalImages is not empty %}
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {%  endif %}
        <form action="/Game/solution" method="post">

            <div class="form-quizz  m-5">
                <input name="answer" type="number" value="" class="w-50">
                <input name="objectId" type="hidden" value="{{ pickedObject.objectId}}" >
                <button type="submit" class="btn btn-outline-primary w-25 " >
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
