{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Solution
{% endblock %}
{% block content %}
    <div class="container-fluid game-content game-content">
        <div class="row justify-content-between">
            <div class="numquestion rounded-circle bg-primary text-light m-2 p-2 text-center" style="width:50px; height:50px">
                <h2 class="m-auto">{{ session.game.numQuestion }}</h2>
            </div>
            <div class="d-flex flex-row justify-content-center">
                {% if session.game.status == 'Good Answer' or session.game.status == 'Perfect'  %}
                    <div class="anim-points">+ {{ session.game.nbPoints }}</div>
                    <div class="anim-coeff">x {{ session.game.coeffQuestion }}</div>
                {% endif %}
                {% if session.game.status == 'Perfect' %}
                    <div class="anim-perfect"> Perfect : x 2</div>
                {% endif %}
                {% if session.game.status == 'Game Over' %}
                    <div class="anim-game-over"> Game Over</div>
                {% endif %}
            </div>
            <div class="totalpoints text-primary text-right pr-3">
                <h2>Total<br>{{ session.game.currentScore}}</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex flex-column align-items-center position-relative">
                <img class="img-car d-block img-fluid m-auto shadow p-1  bg-primary rounded"  src="{{ objectData['primaryImageSmall'] }}" alt="{{ objectData['title']}} " >
                <i data-tosend="{{ stringObjectData }}" class="fas fa-heart unclicked position-absolute" id ="heart-logo"></i>
                <i class="fas fa-heart clicked position-absolute" ></i>
                <a class="clickable" data-toggle="modal" data-target="#infoModal">
                    <i class="fas fa-info-circle position-absolute" style="right:10px; bottom:10px"></i>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex flex-column p-2">
                <div class="justify-content-center align-items-center d-flex flex-row">
                    {% if session['game'].status != "Perfect" %}
                        <h6>Tu as dit {{ session.game.userAnswer }} au lieu de </h6><h3>{{ objectData['objectEndDate'] }}</h3>
                    {% else %}
                        <h6>Tu as dit {{ session.game.userAnswer }}, Bravo c'est exactement la bonne date</h6>
                    {% endif %}
                </div>
                <div class="d-flex flex-row justify-content-center text-center">
                    {% if session.game.status == 'Game Over' %}
                        <a class="btn btn-primary" href="/Game/gameover">Game Over</a>
                    {% else %}
                        <a class="btn btn-primary" href="/Game/quizz/{{ session.deptId }}">Question suivante</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="exampleModalLabel">Plus d'informations sur l'œuvre présentée</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <ul>
                            <li>Titre de l'oeuvre: {{ objectData['title'] }}</li>
                            <li>Artiste: {{ objectData['artistDisplayName'] }}</li>
                            <li>Matériau: {{ objectData['medium'] }}</li>
                            <li>Biographie de l'artiste: {{ objectData['artistDisplayBio'] }}</li>
                            <li>Ville: {{ objectData['city'] }}</li>
                            <li>Pays: {{ objectData['country'] }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not shouldReceiveBadge == 0 %}
        <script>
            $(document).ready(function(){
                $("#badgeModal").modal('show');
            });
        </script>
        {% include '/Component/_badgeModal.html.twig' %}
    {% endif %}
<script src="/assets/scripts/like.js"></script>
{% endblock %}

