{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Solution
{% endblock %}
{% block content %}
    <div class="col-sm-12 row justify-content-between align-items-center">
        <div class="numquestion rounded-circle bg-primary text-light m-2 p-2 text-center" style="width:50px; height:50px">
            <h2 class="m-auto">{{ session.game.numQuestion }}</h2>
        </div>
        <div class="row justify-content-center">
            {% if session.game.status == 'Good Answer' or session.game.status == 'Perfect'  %}
                <div class="anim-points">+ {{ session.game.nbPoints }}</div>
                <div class="anim-coeff">x {{ session.game.coeffQuestion }}</div>
            {% endif %}
            {% if session.game.status == 'Perfect' %}
                <div class="anim-perfect"> Perfect : x 2</div>
            {% endif %}
            {% if session.game.status == 'Game Over' %}
                <div class="anim-game-over"> Game Over</div>
            {% endif %}
        </div>
        <div class="totalpoints text-primary">
            <h2>Total<br>{{ session.game.currentScore}}</h2>
        </div>
    </div>

    <div class="container w-25" >
        <img class="img-car d-block img-fluid m-auto shadow p-1  bg-primary rounded"  src="{{ objectData['primaryImageSmall'] }}" alt="{{ objectData['title']}} " >


    </div>
    <div class="container text-center w-75">
        <h6>Tu as dit {{ session.game.userAnswer }} au lieu de </h6><h3>{{ objectData['objectEndDate'] }}</h3>
        </p>
        <p class="text-break " >
            {{ objectData['artistDisplayName'] }}
        <p class="text-break" >
            <a class=" clickable" data-toggle="modal" data-target="#infoModal">
                <i class="fas fa-info-circle"></i>
            </a>
        </p>
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="exampleModalLabel">Plus d'informations sur l'œuvre présentée</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <ul>
                            <li>Titre de l'oeuvre: {{ objectData['title'] }}</li>
                            <li>Artiste: {{ objectData['artistDisplayName'] }}</li>
                            <li>Matériau: {{ objectData['medium'] }}</li>
                            <li>Biographie de l'artiste: {{ objectData['artistDisplayBio'] }}</li>
                            <li>Ville: {{ objectData['city'] }}</li>
                            <li>Pays: {{ objectData['country'] }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% if session.game.status == 'Game Over' %}
        <a class="btn btn-primary" href="/Game/gameover">Game Over</a>
        {% else %}
        <a class="btn btn-primary" href="/Game/quizz/{{ session.deptId }}">Question suivante</a>
        {% endif %}
    </div>
{% endblock %}

