{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Solution
{% endblock %}
{% block content %}
    <div class="container mt-5  w-25 " >
        <img class="img-thumbnail" style="height: 50vh" src="{{ objectData['primaryImageSmall'] }}" alt="{{ objectData['title']}} " >
    </div>
    <div class="container text-center w-75">
        <p class="text-center h3 text-danger">
            {{ objectData['objectEndDate'] }}
        </p>
        <p class="text-break" >
            {{ objectData['artistDisplayName'] }}
        </p>
            <a class="btn btn-outline-danger" href="/Game/quizz/{{ deptId }}">Question suivante</a>
        </div>
{% endblock %}
